@import "utilities";
@import "buttons";

::-webkit-scrollbar {
  display: block;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba($color: white, $alpha: 0.1);
}
.upperbox {
  height: auto;
  text-align: right;
  padding: 20px 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: scroll;
  #result,
  #display {
    height: 60px;
    width: 100%;
    max-width: 270px;
    outline: none;
    border: none;
    background-color: transparent;
    display: block;
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    font-size: 1.6rem;
  }
}

.lowerbox {
  padding: 10px;
  height: 50%;
  text-align: center;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    margin-bottom: 3px;
  }
}
