* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(2, 0, 0, 0.5),
      rgba(15, 0, 0, 0.8)
    ),
    url(./images/pexels-simon-berger-1323550.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 350px;
  height: 600px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-top: 10px;
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .btn {
    min-height: 60px !important;
  }
}
.upperbox {
  height: 50%;
  text-align: right;
  padding: 20px 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #result {
    height: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 4rem;
  }
  #display {
    height: 45%;
    width: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    overflow-x: scroll;
  }
  /* #display::-webkit-scrollbar {
    display: block;
    height: 3px;
  } */
}

.lowerbox {
  padding: 10px;
  height: 50%;
  text-align: center;
  /*   display: flex;
  align-items: center;
  justify-content: center; */
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  margin-bottom: 3px;
}
.btn {
  /* min-width: 0px; */
  /* height: auto; */
  height: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.btn:hover {
  background-color: rgba(168, 149, 149, 0.2);
}
.btn-number {
  background-color: rgba(0, 0, 0, 0.6);
}
.btn-operator {
  background-color: rgba(0, 0, 0, 0.3);
}
