* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 0, 0.5)), to(rgba(15, 0, 0, 0.8))), url(./images/pexels-simon-berger-1323550.jpg);
  background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0.5), rgba(15, 0, 0, 0.8)), url(./images/pexels-simon-berger-1323550.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 350px;
  height: 600px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2px;
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .btn {
    min-height: 70px !important;
  }
}

.upperbox {
  height: 50%;
  text-align: right;
  padding: 20px 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* #display::-webkit-scrollbar {
    display: block;
    height: 3px;
  } */
}

.upperbox #result {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 4rem;
}

.upperbox #display {
  height: 45%;
  width: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2rem;
  overflow-x: scroll;
}

.lowerbox {
  padding: 10px;
  height: 50%;
  text-align: center;
  /*   display: flex;
  align-items: center;
  justify-content: center; */
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  margin-bottom: 3px;
}

.btn {
  /* min-width: 0px; */
  /* height: auto; */
  height: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.btn:hover {
  background-color: rgba(168, 149, 149, 0.2);
}

.btn-number {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-operator {
  background-color: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=styles.css.map */